
@{
    ViewBag.Title = "Choose Menu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Dashboard</h2>

<style>
    .title {
        background-color: #00a0e0;
        padding: 8px;
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    .subtitle {
        margin-top: -5px;
        text-align: center;
        margin-bottom: 20px;
    }

    .titleQ {
        font-size: 14px !important;
        font-weight: bold !important;
    }

    .SubtitleQ {
        margin-top: -20px;
        font-size: 14px !important;
        font-style: italic;
        margin-bottom: 4px !important;
    }

    .black {
        background-color: grey !important;
        margin-top: -10px !important;
        padding: 4px !important;
        text-align: left !important;
    }

    .leftmargin {
        text-align: left !important;
    }

    .required {
        color: red;
    }
</style>

<div class="jumbotron" style="background-image: url('../../Asset/bgslider.png'); background-position: right;height:100%;">

    </div>