
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .footerweb {
        margin-top: 5px;
    }
</style>
<div class="jumbotron boxcontentcomplaint" style="background-color: white; background-image: url('../../Asset/SHAPE.png'); background-position: right 168px; background-repeat: no-repeat; padding-bottom: 41px; margin-bottom: 0px; background-size: cover;">
    <div class="row">
        <div class="col-md-6" style="padding-top: 80px; ">
            <img src="~/Asset/Etana_logo.png" alt="Alternate Text" style="width:100px;margin-top:40px;" />

            <h3 style="margin-top: 50px; font-size: 22px; font-weight: 700; "> <b>PT. Etana Biotechnologies Indonesia </b> </h3>
            <br />
            <p style="font-size:16px;"><i class="fa fa-envelope-o"></i> &nbsp;Email PV&nbsp;&nbsp;&nbsp;: <a href="mailto:pv@id.etanabiotech.com">pv@id.etanabiotech.com</a> </p>
            <p style="font-size:16px;"><i class="fa fa-envelope-o"></i> &nbsp;Email QA&nbsp;&nbsp;&nbsp;: <a href="mailto:qa.etana@id.etanabiotech.com">qa.etana@id.etanabiotech.com</a> </p>
            <p style="font-size:16px;"><i class="fa fa-phone"></i> &nbsp;Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <a style="color:black;" href="tel:+6214608808">(021) 4608808</a> </p>
            <p style="font-size:16px;">
                <i class="fa fa-building"></i> &nbsp;Address &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;Kawasan Industri Pulogadung
                Jl. Rawa Gelam V Blok L Kav. 11-13, Jatinegara, Cakung, East Jakarta 13930, Indonesia.
            </p>

        </div>

        <div class="col-md-4" style="padding-top:50px; padding-bottom: 80px;">
            <img src="~/Asset/GEDUNG.png" alt="Alternate Text" class="img-responsive" style=" margin-left: 52px;" />
        </div>
    </div>
</div>

